:root {
  // ====================== Base color palette ====================
  --base-color-1: #070707;
  --base-color-2: #10100f;
  --base-color-3: #2e1a0b;
  --base-color-4: #e6bb1a;
  --base-color-5: #f1efef;
}
