/*Estilos generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ubackground: hsla(0, 0%, 0%, 0.5);
  --white: #fff;
  --black: #000;
  --grey: #808080;
  --light-gray: #c7c7c7;
  --md-black: #242424;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--light-gray);
}

html {
  scroll-behavior: smooth;
}

.section__figure,
.section__title,
.main-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Estilos para landing-page */
.first-view {
  position: relative;
  width: 100%;
  height: 100vh;
}

.first-view::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/first-img.jpg');
  background-size: cover;
  background-attachment: fixed;
  filter: blur(5px);
}

.first-view__inside {
  position: relative;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.main-header {
  text-align: center;
  font-size: 2em;
  text-shadow: 1px 2px 5px black;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.quote-container {
  display: flex;
  align-items: center;
  border: 1px solid white;
  box-shadow: 0 0 5px 1px rgba(253, 253, 253, 1);
  padding: 30px;
  width: 90%;
  height: auto;
}

.img-div {
  text-align: center;
  padding-right: 20px;
  border-right: 1px solid var(--white);
  width: 50%;
}

.img-div__img {
  max-width: 100%;
  max-height: auto;
  border-radius: 5px;
  box-shadow: 1px 2px 5px var(--black);
}

.img-div__caption {
  background-color: var(--ubackground);
  padding: 5px 0;
  width: 50%;
  margin: 0 auto;
}

.main-quote {
  width: 50%;
  height: 100%;
  font-size: 2em;
  font-family: 'Courgette', cursive;
  background-color: var(--ubackground);
}

.main-quote__ref {
  margin-top: 50px;
  font-size: 0.8em;
}

.down-link {
  color: var(--white);
  font-size: 2em;
  margin-bottom: 20px;
  opacity: 0.5;
  transform: scale(1);
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  text-shadow: 1px 1px var(--ubackground);
}

.down-link:hover {
  opacity: 1;
  transform: scale(1.2);
  transition-property: all;
  transition-duration: 0.5s;
}

/*Estilos para el contenido principal*/

main {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(20, 5%);
  row-gap: 10px;
  width: 100%;
  margin: 20px 0;
}

.section {
  grid-row: span(1);
  grid-column: 2/20;
  background-color: var(--grey);
  color: var(--white);
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px black;
  width: 100%;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: repeat(5, 20%);
  grid-template-areas:
    'date date date date date'
    'text text text text figure';
}

.section__title {
  grid-area: date;
  font-size: 2.5em;
  text-align: center;
  background-color: var(--md-black);
}

.section__text {
  grid-area: text;
  padding: 20px;
  font-size: 1.5em;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  background-color: var(--ubackground);
}

.section__figure {
  grid-area: figure;
  padding: 20px;
  font-size: 0.9em;
}

.section__img {
  max-width: 100%;
  border-radius: 5px;
  height: auto;
}

/*footer*/
.foot {
  margin-top: 20px;
  background-color: var(--black);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tribute-link {
  color: var(--white);
}

/*media queries*/
@media screen and (max-width: 750px) {
  /*Estilos generales*/
  body {
    font-size: 8px;
  }

  /*first-view*/
  .first-view__inside {
    position: relative;
    width: 100%;
    justify-content: flex-start;
  }

  .quote-container {
    flex-direction: column;
    padding: 15px;
    width: 70%;
    height: 100%;
    margin-top: 15px;
  }

  .img-div {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--white);
    border-right: 0;
    padding-right: 0;
    width: 100%;
  }

  .img-div__caption {
    width: 100%;
  }

  .main-quote {
    width: 100%;
    height: 100%;
  }

  .main-quote__ref {
    margin: 20px;
  }

  .down-link {
    display: none;
  }

  /*contenido principal*/
  .section {
    grid-template-rows: 10% 40% 50%;
    grid-template-columns: repeat(5, 20%);
    grid-template-areas:
      'date date date date date'
      'text text text text text'
      'figure figure figure figure figure';
  }

  .section__figure {
    grid-area: figure;
    padding: 20px;
    font-size: 1.5em;
  }

  .section__img {
    max-width: 100%;
    border-radius: 5px;
    height: auto;
  }

  .section__img:first-child {
    max-height: 100%;
    width: auto;
  }
}
