:root {
  --base-color-1: #070707;
  --base-color-2: #10100f;
  --base-color-3: #2e1a0b;
  --base-color-4: #e6bb1a;
  --base-color-5: #f1efef; }

html {
  font-family: roboto, 'sans-serif';
  font-size: 62.5%; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

.header {
  font-size: 2rem; }

.main-title {
  margin: 0;
  letter-spacing: 0.6rem;
  transform: translateX(1.1rem); }
  .main-title--java {
    color: var(--base-color-4); }
  .main-title--sub {
    display: block;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    background-color: white;
    text-align: center;
    border-radius: 100px; }

.side-nav {
  font-size: 1.5rem; }
  .side-nav__link {
    color: var(--base-color-5); }

.main-content {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem; }
  .main-content__heading {
    text-transform: uppercase;
    font-weight: 700; }
  .main-content__code-box {
    color: var(--base-color-4); }
  .main-content__hype:link, .main-content__hype:visited {
    text-decoration: none;
    color: var(--base-color-3); }

body {
  min-height: 100vh; }

.header {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  position: absolute;
  right: 0;
  top: 0;
  background-image: linear-gradient(65deg, var(--base-color-1) 0% 49.6%, var(--base-color-4) 49.6%); }

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15%;
  padding-top: 0;
  overflow: auto;
  background-color: var(--base-color-1);
  display: flex;
  flex-direction: column; }
  .side-nav__list {
    list-style: none; }
  .side-nav__item {
    border-top: 1px solid var(--base-color-5);
    position: relative;
    z-index: 10; }
  .side-nav__link:visited, .side-nav__link:link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 2rem;
    position: relative; }
  .side-nav__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--base-color-4);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
    z-index: -10; }
  .side-nav__link:hover {
    color: var(--base-color-4); }
  .side-nav__link:hover::before {
    transform: scaleY(1); }
  .side-nav__link:active::before {
    background-color: var(--base-color-4); }

.main-content {
  position: absolute;
  background-color: var(--base-color-5);
  top: 10rem;
  right: 0;
  width: 85%;
  padding-bottom: 5rem; }
  .main-content__section {
    padding: 3rem;
    padding-bottom: 0; }
  .main-content__heading {
    margin-bottom: 2rem; }
  .main-content__text {
    margin: 0 6rem; }
  .main-content__paragraph, .main-content__item-text {
    margin-bottom: 1rem; }
  .main-content__paragraph--m-b-l {
    margin-bottom: 0.5rem; }
  .main-content__paragraph--span {
    display: block; }
  .main-content__list {
    margin-left: 5rem; }
  .main-content__list--second {
    margin-left: 10rem; }
  .main-content__code-box {
    margin-left: 1rem;
    background-color: var(--base-color-1);
    padding: 2rem 4rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden; }
  .main-content__code-box::before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 2rem;
    background-color: var(--base-color-4);
    z-index: 10; }
